a {
    text-decoration: none;
    color: white;
	font-family: "Century Gothic";

}

a:hover {
    color:aquamarine;
}

body {
    background: url(BG.png) no-repeat;
    background-size: 100% auto;
}

span {
    color: white;
    font-family: "Century Gothic";
    font-weight: bold;
    font-size: 1.1em;
}

.YAPS {
    color: white;
    font-family: "Century Gothic";
    font-size: 4em;
    margin-top: 4%;
}

.corp {
    color: white;
    font-family: "Century Gothic";
    font-size: 1em;
}

.form {
    margin-top: 3%;
    margin-left: 35%;
    margin-right: 35%;
    border: 2px solid white;
    border-radius: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
}

.autorize {
    font-family: "Century Gothic";
    font-size: 1.7em;
    font-weight: normal;
}

input[type="text"]{
    border: 2px solid white;
    border-radius: 10px;
    padding: 2%;
    background-color: rgba(255,255,255,0.3);
    margin-left: 5%;
    color: white;
    font-family: "Century Gothic";
    font-size: 1.1em;
    font-weight: bold;
}

input[type="password"]{
    border: 2px solid white;
    border-radius: 10px;
    padding: 2%;
    background-color: rgba(255,255,255,0.3);
    margin-left: 5%;
    color: white;
    font-family: "Century Gothic";
    font-size: 1.1em;
    font-weight: bold;
}

.lo1 {
    margin-left: 5%;
}

.lo2 {
    margin-left: 2%;
}

input[type="button"] {
    color: white;
    font-family: "Century Gothic";
    font-weight: bold;
    margin-left: 25%;
    margin-right: 32%;
    border: 2px solid white;
    border-radius: 15px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.1em;
    background-color: rgba(255,255,255,0);
}

.b1 {
	color: white;
    font-family: "Century Gothic";
    font-weight: bold;
    margin-left: 32%;
    margin-right: 32%;
    border: 2px solid white;
    border-radius: 15px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.1em;
    background-color: rgba(255,255,255,0);
}

.b1:hover {
    color:aquamarine;
    border-color:aquamarine;
    cursor: pointer;
}

.b2 {
	font-size: 0.8em;
	padding-top: -5%;
}

.dawn {
    color: white;
    font-family: "Century Gothic";
    font-size: 0.65em;
    margin-top: 10.6%;
}

/*regist*/

label {
    color: white;
    font-family: "Century Gothic";
    font-weight: bold;
    font-size: 1.1em;
}

input[type="email"] {
    border: 2px solid white;
    border-radius: 10px;
    padding: 2%;
    background-color: rgba(255,255,255,0.3);
    margin-left: 5%;
    color: white;
    font-family: "Century Gothic";
    font-size: 1.1em;
    font-weight: bold;
}

#n1 {
	margin-left: 16%;
}

#n3 {
	margin-left: 14%;
}

input[type="button"]:hover {
	color:aquamarine;
    border-color:aquamarine;
    cursor: pointer;
}

.b3 {
	font-size: 0.8em;
	padding-top: -5%;
}

.registr {
    font-family: "Century Gothic";
    font-size: 1.7em;
    font-weight: normal;
}
/*message-company*/

.cover {
	margin-top: -18%;
}